<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameRoomUI/op_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,72},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>GameRoomUI/op_mul_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,204},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>GameRoomUI/op_mul_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,245},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>GameRoomUI/op_mul_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,204},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>GameRoomUI/op_mul_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,204},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>GameRoomUI/op_mul_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,210},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>GameRoomUI/ox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,1},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,67},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,72},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,72},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,133},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,159},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,199},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,87},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,87},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,87},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_confirm_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1},{186,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,69}</string>
			</dict>
			<key>GameRoomUI/ox_pass_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1},{186,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,69}</string>
			</dict>
			<key>GameRoomUI/ox_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,153},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_type_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,219},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,219},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/computer_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{412,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,84}</string>
			</dict>
			<key>GameRoomUI/score_lose_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,265},{130,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,54}</string>
			</dict>
			<key>GameRoomUI/score_win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,317},{130,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,54}</string>
			</dict>
			<key>GameRoomUI/score_mul_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,449},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>GameRoomUI/score_mul_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,265},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>GameRoomUI/score_mul_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,341},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>GameRoomUI/score_mul_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,379},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>GameRoomUI/score_mul_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,417},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>GameRoomUI/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,321},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>GameRoomUI/ox_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,138},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/ox_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,138},{156,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,64}</string>
			</dict>
			<key>GameRoomUI/dealer_gold_crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,321},{68,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameRoomUI.png</string>
			<key>realTextureFileName</key>
			<string>GameRoomUI.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>