<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Poker/pic_poker_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,123},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,367},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,489},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,211},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,333},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,455},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,577},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,699},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,821},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_backend.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c10.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,89},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c11.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c12.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c13.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,177},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,211},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c8.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_c9.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d10.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,265},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d11.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,333},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d12.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,455},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d13.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,353},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,441},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,353},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,441},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d5.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,353},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d6.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,353},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,353},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d8.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,353},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Poker/pic_poker_d9.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,441},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Poker.png</string>
			<key>realTextureFileName</key>
			<string>Poker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>